Package: ${PKG_NAME}
Version: ${PKG_VER}-${PKG_BUILD}
Section: base
Priority: optional
Architecture: mipsel
Depends: libc6, noobient-zlib, noobient-jansson, noobient-openssl
Maintainer: Viktor Berke <github.bviktor@outlook.com>
Description: Jose
