Package: ${PKG_NAME}
Version: ${PKG_VER}-${PKG_BUILD}
Section: base
Priority: optional
Architecture: amd64
Depends: libc6, libssl1.1, libpopt0, libtalloc2, libtdb1, libtevent0, libldb1, libdhash1, libcollection4, libini-config5, libpam0g, libgdm1, libldap-2.4-2, libkrb5-3, libc-ares2, nscd, dnsutils, libkeyutils1, cifs-utils, systemd, libsystemd0, samba-libs, libsmbclient, libsasl2-2, libnfsidmap2, uuid, libjansson4, libnl-route-3-200, libdbus-1-3, xsltproc, libxml2-utils, docbook-xsl, ldap-utils, python3, libselinux1, libsemanage1, libp11-kit0, softhsm2
#Provides: sssd-tools, sssd-common
#Conflicts: sssd-tools, sssd-common
#Replaces: sssd-tools, sssd-common
Maintainer: Viktor Berke <github.bviktor@outlook.com>
Description: SSSD
