Package: ${PKG_NAME}
Version: ${PKG_VER}-${PKG_BUILD}
Section: base
Priority: optional
Architecture: amd64
Depends: libglib2.0-0 (>= 2.56.4), libsecret-1-0 (>= 0.18.6), git (>= ${PKG_VER}), seahorse (>= 3.20.0)
Maintainer: Viktor Berke <github.bviktor@outlook.com>
Description: Git credential helper using libsecret
